[2015-12-31 21:01] mattfarina opened #1 "* constraint failing"
When using `*` as a constraint it is failing with versions when it should return true for all versions.

[2015-12-31 21:02] #1 closed

[2016-02-01 23:17] technosophos opened #2 "Feature: Version check that gives info about failures"
It would be nice to have a variation of `Constraint.Check()` that could give information, on failure, about why it failed. I'm imagining something like this:

[code]

[2016-02-02 13:03] mattfarina commented on #2
@technosophos I'm debating if the response should be an error, a slice of errors, an multiError (think `codegangsta/cli`), or a slice of strings. Any thoughts?

[2016-02-13 12:53] marcelklehr opened #3 "Support for major-only constraint"
hey,
thank you for creating this package!
It would be nice to achieve consistency with [npm's semver](https://npmjs.org/package/semver). Among other things this would include allowing omission of `x`s, e.g. `5` would be equivalent to `5.x`.

let me know what you think!

[2016-02-17 23:15] technosophos commented on #3
I _think_ this is supported as long as you start with a `^` character, e.g. `^5.x`. The `^` tells SemVer to constrain to major release. I'll defer to @mattfarina, though.

[2016-02-18 02:34] mattfarina commented on #3
@marcelklehr So, if I understand what you're suggesting we should have, as a constraint, `5`  be `5.x` instead of the `5.0.0` that it is today. Is that correct?

I can appreciate the interest in being the same as npm. I'll need to go back and look at how npm does things.

[2016-02-29 20:18] mattfarina commented on #2
@technosophos can you please review PR #4 where I attempted to add a validator.

[2016-02-29 20:20] technosophos commented on #2
This. Is. AWESOME!!!!

[2016-03-10 16:04] mattfarina commented on #3
To add some more details on this space, here's some research:

* node-semver [does indeed turn a missing element into a wildcard](https://github.com/npm/node-semver/blob/master/README.md#x-ranges-12x-1x-12-).
* [Hashicorp/go-semver](https://github.com/hashicorp/go-version) goes the other way. [Missing elements are turned into 0](https://github.com/hashicorp/go-version/blob/2e7f5ea8e27bb3fdf9baa088

[2016-03-10 16:06] mattfarina commented on #3
Hat tip to @technosophos, here's some more detail on Composer. It does indeed support wildcards. Missing elements are replaced with 0. Wildcards are opt-in. You can even play with version ranges [here](http://semver.mwl.be/#?package=madewithlove%2Felasticsearcher&version=0.3.&minimum-stability=stable).

[2016-03-10 16:30] marcelklehr commented on #3
Mh. ok, that's interesting! I think it's more liberal to turn missing elements into wildcards, while the alternative is more the conservative choice. For this library an option, how omissions should be treated, might be a solution, but I can understand if you oppose this request :)

[2016-03-10 16:41] mattfarina commented on #3
Continuing my search:

* Ruby [Gemfiles](http://bundler.io/man/gemfile.5.html) do not appear to support wildcards and do turn a missing element into a 0. For example, 1.5 is 1.5.0.
* "It appears" that Python version numbers (used by things like pip) are SemVer compatible. See [PEP 0440](https://www.python.org/dev/peps/pep-0440/) and [PEP 0508](https://www.python.org/dev/peps/pep-0508). There are w

[2016-03-10 16:43] mattfarina commented on #3
@marcelklehr I'm actually looking to make a well informed decision on this one. I had not thought about it beforehand and now that I am I wanted to be well informed on the space. And, I like to take notes on what I find for others (any myself in 6 months when I ask why I made this decision again).

[2016-03-10 18:24] mattfarina commented on #3
After reviewing this space I think we should keep the current behavior of an empty spot defaulting to 0 instead of wildcard. This is for a few reasons:

1. npm appears to be the odd one out when it comes to defaulting to the wildcard. Others either default to 0 instead of a wildcard or default to 0 and don't support a wildcard.
2. It keeps compatibility with other Go libraries doing versions.
3. F

[2016-03-10 18:24] #3 closed

[2016-03-10 18:33] mattfarina commented on #2
This has been merged and will be in the next release.

[2016-03-10 18:33] #2 closed

[2016-04-08 02:05] sdboyer opened #10 "Special handling on ranges for pre-release versions"
As mentioned in #7 , I want us to borrow another idea from dart's pub and create some special logic around how pre-release versions are interpreted with respect to ranges. This does involve breaking some math rules, but I think the benefit for users is considerable.

Here's the wording from [their README](https://github.com/dart-lang/pub_semver/blob/master/README.md), which really pretty much cove

[2016-04-08 02:20] sdboyer opened #11 "Stop using pointer receiver on *Version"
That we use a pointer receiver for `Version`'s methods has frustrated me for a while for two basic reasons:
- It meant doing a lot of nil-checking all over the API, rather than just being able to call methods that would respond normally. The `areEq()` func is just one place that I sorta shimmed around this:

[code]
- It also means that all the version objects we create (and therefore also, all the

[2016-06-23 00:51] derelk opened #16 ""3.0" should not match "<= 2.x""
As discussed in Masterminds/glide#483, the tip of 2.x incorrectly indicates that `3.0` satisfies the constraint `<= 2.x`. This is a regression from all 1.x releases.

Sample code:

[code]

outputs `<nil>`.

[2016-06-23 17:04] sdboyer commented on #16
yeah, i remember feeling like something was fishy when i did this part of the impl, but i couldn't put my finger on it at the time. thanks!

[2016-06-24 14:02] sdboyer opened #18 "Convert ranges to tilde or carat form, if possible"
Right now, I'm staring at this diff:

[code]

We need to store the input to the constraint, and then return that back out on a `String()` call, as with `Version`s.

The problem there, of course, is when you start combining constraints - it's just no longer possible to respect the original exact user input. So, as soon as a programmatic combination occurs, we should probably just drop the original

[2016-06-30 14:42] sdboyer commented on #11
A slightly more detailed explanation of the performance issue:

With the way that [go's escape analysis](http://blog.rocana.com/golang-escape-analysis) works, creating and returning a pointer value from outside of the scope in which it was created will *always* result in a heap allocation. (Go's escape analysis is not very sophisticated right now). Avoiding small allocations are one of the first a

[2016-07-01 13:59] mattfarina commented on #11
@sdboyer thanks for providing the detail and those pointers (pun intended).

[2016-07-01 14:17] sdboyer opened #19 "uint64s for 2.0?"
I'm kinda loathe to open this. Honestly, it sorta annoys me even just writing this. But right now, `Version` uses `int64` to represent the major, minor, and patch components of a version, which means negative numbers are allowed. The [spec's quite clear](http://semver.org/#spec-item-2) on this - these number must be nonnegative.

I get that using `uint64` can make some things more annoying, but it

[2016-07-16 17:46] marcelklehr commented on #3
Thank you @mattfarina for taking the time to consider this request. I understand your decision and have since created a fork of your excellent library which is compatible with npm's semver (there were some additional issues I had to resolve). Cheers!

[2016-10-11 19:36] technosophos opened #21 "The `~` operator should not accept pre-releases"
The filter `~1.4.1` should match `1.4.2` but not `1.4.2-beta.1`. Currently it allows the pre-release flags.

[2016-10-12 13:06] sdboyer commented on #21
There's differences on extant implementation with this. npm and cargo, for example, simply exclude prereleases. [pub](https://github.com/dart-lang/pub_semver), OTOH, includes them, but not at the edge of the range (so, `~1.4.2` does include `1.4.2-beta.1`, but not `1.5.0`, AND ALSO not `1.5.0-beta.1`), and also sorts them lower.

Implicit in this is that, IMO, we should be talking about general se

[2016-10-13 14:06] mattfarina commented on #21
I would say that ranges should not accept pre-releases. For some reason I thought pre-releases were already excluded so I personally consider this a bug.

Does that work @technosophos @sdboyer?

[2016-10-13 14:10] sdboyer commented on #21
it's definitely an easier solution than the pub approach. and in the general case, i agree.

i wonder if it matters for people who actually WANT prereleases, though. does it make sense that if, say, you specify `~1.0.0`, you don't get prereleases, but if you specify `~1.0.0-alpha.1`, then you do?

[2016-10-13 15:18] technosophos commented on #21
I think [Section 9 of SemVer 2](http://semver.org/#spec-item-9) makes it pretty clear that pre-releases are not considered compatible with anything else.

If that's the case, then a pre-release should not be considered to match compatibility requirements of a range, which implies compatibility level with everything in the range.

[2016-10-13 16:00] sdboyer commented on #21
Sure, OK, that makes sense.

But...ranges aren't actually something described by the semver spec. The `~` and `^` operators are something either npm or gems (I think?) came up with. If we interpret those as _compatibility_ operators, then yes, it would follow from that part of the spec that they couldn't possibly include prereleases, because there is no implied compatibility relationship between t

[2016-10-17 16:41] sidkshatriya opened #22 "Invalid semantic version for "7.0.12-1+deb.sury.org~xenial+1" version string"
`7.0.12-1+deb.sury.org~xenial+1` is a PHP version string.

[code]

I get Invalid Semantic Version error on Masterminds/semver.

[2016-10-17 16:41] sidkshatriya commented on #22
Original Issue https://github.com/sidkshatriya/dontbug/issues/3

[2016-10-17 17:15] sidkshatriya commented on #22
I have made a workaround so this bug is not blocking me anymore. So the main question is: Is this an expected or unexpected error from semver?

[2016-10-17 18:46] sdboyer commented on #22
That's expected, sorry - `7.0.12-1+deb.sury.org~xenial+1` is not valid semver, according to [the spec](http://semver.org/).

[2016-10-17 19:51] sidkshatriya commented on #22
Thanks for your reply. Closing ticket.

[2016-10-17 19:51] #22 closed

[2016-10-20 23:24] sdboyer commented on #21
Oooh. Actually. I like what Cargo does - it kinda splits the difference:

[code]

[2016-10-21 15:39] technosophos commented on #21
Yeah, I think what Cargo does is good. The deal with the -alpha/-beta/etc prerelease modifiers is that I feel like they are _intended_ to convey that the product is (a) usable, but (b) subject to change. By versioning them this way, the developers are signaling that it is acceptable for an alpha/beta to be incompatible with both earlier and later releases.

This differs from the `0.y.z` case, wher

[2016-10-25 13:30] mattfarina commented on #21
What @sdboyer outlined is what I had originally intended. I consider the current state a bug. But, due to the nature of the change I'm debating wether this should be labeled a minor change rather than a patch when released.

[2016-10-25 14:24] mattfarina commented on #21
@sdboyer @technosophos can you take a look at #23. It's not exactly what we said here but close. Tries to deal with some backwards compatibility situations. If it looks ok I'll update the docs.

[2016-10-27 16:35] #21 closed

[2016-11-01 16:39] sdboyer commented on #16
(this should be closed)

[2016-11-02 14:28] derelk commented on #16
Confirmed the fix against tip of 2.x.

[2016-11-02 14:28] #16 closed

[2016-11-18 15:54] mattfarina opened #24 "Ranges and pre-release bug"
Consider the case of a range `> 0` and the versions `0.0.1-beta` and `0`.

This range will return false for both. But, isn't `0.0.1-beta` greater that `0`? If a range like `> 0-a` is used than a version like `0` doesn't work. It's one of those edge cases when #21/#23 was fixed.

@technosophos this came about when I was trying to update helm for the latest release to deal with the pre-release issue

[2016-11-18 16:51] technosophos commented on #24
Yeah, you're right. It does seem like any non-zero value should satisfy `> 0`.

[2016-11-21 13:52] sdboyer commented on #24
This sort of thing is why I've imagined the implementation needs to have special values that represent the high (infinity) and low (zero) bounds.

[2016-11-21 17:24] mattfarina commented on #24
PR on #25

[2016-11-29 01:56] #24 closed

[2016-11-29 02:03] mattfarina commented on #19
Closing because it was merged.

[2016-11-29 02:03] #19 closed

[2016-11-30 20:42] sdboyer commented on #18
heh. i was about to post an issue...till i saw i'd done it five months ago.

actually running into this now. will try to roll up a PR soon (against 2.x).

[2016-12-02 18:41] mattfarina commented on #18
@sdboyer with the merge of the pull request do you see this as done?

[2016-12-02 22:48] sdboyer commented on #18
ah yes sorry forgot to close

[2016-12-02 22:48] #18 closed

[2016-12-02 22:59] vdice opened #34 "constraint Parser Error"
I've encountered the following issue by way of specifying a 'pre-release' [Helm](https://github.com/kubernetes/helm) chart version dependency.

When specifying a chart version of, say, `v2.3.5-sha.20d586f`, it is happily parsed/constrained by this package and Helm is happy as well.

However, when adding a timestamp, resulting in a chart version of `v2.3.5-20161202202307-sha.e8fc5e5`, this package

[2016-12-03 13:44] mattfarina commented on #34
There is no rule about digit length. In this case the pre-release would be `20161202202307-sha.e8fc5e5`. I'll take a look at it on Monday.

[2016-12-06 15:42] mattfarina commented on #34
A PR was started in #35

[2016-12-08 18:01] mattfarina commented on #34
@vdice Can you take a look at #36? I think this will fix it.

[2016-12-13 14:31] #34 closed

[2017-01-04 16:34] mattfarina commented on #11
Closing because this has been merged.

[2017-01-04 16:34] #11 closed

[2017-01-05 04:51] sdboyer commented on #10
I can't remember if we've already discussed this elsewhere, but my thinking moved on from this several months ago. I'm now thinking it's better to just follow the pattern used at least by npm and cargo, and I think also composer - ranges should not allow prerelease versions, period.

[2017-01-12 05:52] penhauer-xiao opened #38 "How to support the time version, like as r2016.01.01"
How to support the time version, like as  r2016.01.01, or like as r2011-03-15 or like as go.weekly.2011-12-14

$ git ls-remote http://gopkg.in/mgo.v2
3f83fa5005286a7fe593b055f0d7771a7dce4655	HEAD
3f83fa5005286a7fe593b055f0d7771a7dce4655	refs/heads/master
c91e44ec198183371f67220d4e3ee563ee5cc10f	refs/pull/97/head
d3ff508e020127390aad8e6abf3311345fe8da78	refs/pull/97/merge
e5d775ad02fa2dfc96d4a4cc91

[2017-01-12 07:12] sdboyer commented on #38
Those don't follow the [semver standard](http://semver.org/), so they're not supported.

[2017-01-17 16:04] mattfarina commented on #10
@sdboyer what if a range includes pre-releases? For example, `>= 1.2.3-beta.1`

[2017-01-17 16:26] mattfarina commented on #38
@penhauer-xiao what you're describing is [CalVer](http://calver.org/) instead of [SemVer](http://semver.org/). This package is based around SemVer.

Note, due to similarities in number structure... if the `r` was not on the front of those tags it "should" work.

[2017-01-17 16:26] #38 closed

[2017-01-17 16:41] sdboyer commented on #10
ugh, rawr.

looks like npm handles that by allowing prerelease versions _only_ in that same major, minor and patch series. that strikes me as reasonable. what do you think?

[2017-01-17 16:44] sdboyer opened #41 "Caret by default"
We need a way of simulating carat-by-default behavior. That is, if you call `semver.NewConstraint("1.0.0")`, it will interpret that as `"^1.0.0"`. To get only and exactly that version, you'd have to call `semver.NewConstraint("=1.0.0")`.

When I started looking at this, it had more far-reaching implications than I initially thought :(

[2017-01-18 14:28] mattfarina commented on #10
sounds good to me. Better than what the 1.x version does.

[2017-01-18 14:31] mattfarina commented on #41
To restate, this is about switching the default, when no range is provided, from `=` to `^`.

What is the motivation? Use case? I'm not familiar with the background and would like to come up to speed.

[2017-01-18 14:31] mattfarina opened #42 "Update docs for 2.x branch changes"

[2017-01-18 15:46] sdboyer commented on #41
Yup.

The pm committee decided to do this a while back. The motivation is providing a [nudge](https://en.wikipedia.org/wiki/Nudge_theory) in the direction of being open within what *should* be a safe range. It's also taking a cue from [cargo](http://doc.crates.io/specifying-dependencies.html#specifying-dependencies-from-cratesio).

[2017-01-18 15:47] sdboyer commented on #10
OK. It's a nontrivial refactor to support, but it's definitely gotta happen.

[2017-01-19 18:15] mattfarina commented on #41
Before I say go forth... I'm curious if this should be in the semver library or the application code that passes it in. I'd like to ponder this.

@technosophos any thoughts? I ask because helm uses semver.

[2017-01-19 20:10] sdboyer commented on #41
I think I'd considered doing it that way in the past, but...well, I can't remember offhand what stopped me. I think there may end up being subtle dependencies that make it hard for gps to ensure everything's done correctly, at least.

I'll look into it again, though.

[2017-01-20 14:13] mattfarina commented on #41
@sdboyer I just want to take a moment to consider multiple angles. Don't beat yourself up over it.

[2017-01-25 14:43] mattfarina commented on #41
@sdboyer what do you think of providing the ability to set the default when no range is supplied? Then setting the default default to `^`.

[2017-01-25 15:03] sdboyer commented on #41
@mattfarina That might work. Could you possibly work up some quick pseudocode to demonstrate what you have in mind, to make sure I'm understanding your suggestion correctly?

[2017-02-01 16:43] technosophos commented on #41
Ugh.. please don't change the default to "If I specify an exact version, I mean not an exact version." That's sooooo not user friendly, and soooo backwards compatibility breaking.

[2017-02-01 16:49] sdboyer commented on #41
That's the plan for how it's going to work in dep. The only question (in this issue) is how that integrates with what's here.

[2017-02-01 17:07] technosophos commented on #41
Yeah, Dep can do whatever. I have no preference about that. But changing Semver is a breaking change, and since this is a string format thing, it would require us (for example) to potentially make thousands of changes to existing Helm charts. it would also potentially break backward compatibility with Glide, which (as you know) has a pretty substantial user base at this point.

[2017-02-01 17:27] sdboyer commented on #41
Right - this would certainly only be for the 2.x line.

My concern there is that, if dep is to implement autoconversion from `glide.yaml` files - which it almost certainly will at `init` time, though it's not yet clear if it will during solving - then either semver 2.x will need to adaptively support either mode of operation, or...well, I'm not sure there's an or. And, as you note:

Adaptively sup

[2017-02-03 01:13] technosophos commented on #41
Sounds to me like the path of least resistance is for `dep` to continue to use `x.y.z` as implying an exact version, not an implied `^`.

[2017-02-03 01:23] sdboyer commented on #41
Oh, that would definitely be the path of least resistance. But I'm hoping to avoid having that dictate the outcome, if possible.

[2017-02-06 21:36] mattfarina commented on #41
Here's what I'm thinking.

1. semver is used by more things than Glide/dep. We need to take them into account as well.
2. dep is pre-alpha and may change its mind on this topic. semver shouldn't have to make changes due to that.

Given these I think I can make the package level default configurable.

[2017-02-07 16:31] sdboyer commented on #41
I agree that a package-level default would be better, but that becomes global package state, and we'd run into problems if we have two systems in the same binary that expect carat-by-default, and systems that don't.

And, if we end up with on-the-fly support for glide (golang/dep#222), that'd be exactly the situation we have :(

Would it be easier if we fork semver into a new namespace, and have t

[2017-02-07 20:02] mattfarina commented on #41
@sdboyer This is more than about location. It's about tight coupling to golang/dep which is pre-alpha. As we know with pre-alpha software... there is the right to change minds on things like this.

What about a constraint factory? One of the options is to tell it what default to use.

Or, do you want to maintain a semver library tightly coupled to the development process of dep?

[2017-02-08 13:40] sdboyer commented on #41
I suppose? I think of it more as defining this carat-by-default behavior as a clear use case, and then deciding on the mechanism by which other systems might interact with dep to ensure consistency in how semver strings get parsed.

I don't think the specifics of my last idea couple tightly, though. (Moving into a new namespace was just a thought for if we can't find a way to have these use patter

[2017-02-08 13:41] sdboyer commented on #41
Oh - another option would be just an extra bool flag on the range type to indicate whether it should be expressed with caret default or not. That way we'd only need the additional entry point function - no `ToString()`. A flag wouldn't be the end of the world, as the only thing negatively impacted is `==` comparability, and we already didn't have that because the range type contains a slice.

[2017-02-17 16:14] mh-cbon opened #43 "add a cli"
Hi,

Is it possible to consider to add a cmd folder with a cli program to manipulate a list of version coming from a pipe on the shell.

For example i run `$ git tag`, i get a long list of versions, i want only the last one, for that to happen correctly i need a program to read, parse,sort the lines as semver values.
[code]

Optionally, the program could receive range argument to filter the list.

[2017-02-23 23:26] mh-cbon opened #44 "support json marshaller"
hi,

currently semver.Version does not support json (un)marshal interfaces.

When json encoded, it results in an empty string.
I suspect it happens because the struct won 't export any public fields.

See the demo code to work around this, alternatively,

[code]

[2017-03-07 15:43] mh-cbon commented on #41
Hi @sdboyer jumping in because it seems
to me the solution to set a flag on the semver package
as a global to the program is not a workable solution.

Well, i m ay get it wrong, i have not dig dep much so far.

In my understanding, there s two mode of understanding of
a semver string "x.x.x" __at runtime__.
Indeed, if there two projects A and B,
with A depends B
and A is a dep based project,
and B

[2017-03-13 16:07] mh-cbon commented on #42
i was wondering the changes between 1.x / 2.x.

[2017-03-13 19:17] mh-cbon opened #46 "is something weird with 0.x.x constraints ?"
Hi,

While i m working on the cli, i found out a weird behavior about constraints when using a pattern starting with a major = 0

Please see:

[code]

[2017-03-18 13:37] sagikazarmark opened #48 "Asterisk and pre-release versions"
I would assume that `*` constraint just accepts any version that is `>=0.0.0`, but it does not accept eg. `3.0.0-rc2`.

Is this a bug or is it on purpose? (Can't recall at the moment how package managers behave in this scenario, but some of them also define a separate stability flag which modifies the behaviour of constraint checking, so in some cases the above example would work)

[2017-03-25 01:59] mattfarina commented on #46
@mh-cbon You found a bug! Thanks.

[2017-03-25 02:24] mattfarina commented on #48
@sagikazarmark `*` accepts any release version. `3.0.0-rc2` is a pre-release version. This is similar to how others treat it. For example, node-semver (which powers npm)...

[code]

Per the spec, pre-release versions may not be compatible with their releases. `*` is currently designed to work on releases. Does that help?

You should be able to use `>=0.0.0-1` and get everything including pre-relea

[2017-03-25 09:18] sagikazarmark commented on #48
Yes, it does, thanks for the detailed clarification.

[2017-03-25 09:18] #48 closed

[2017-03-28 00:27] #46 closed

[2017-03-29 00:56] mattfarina commented on #43
I'm up for a CLI. I'll review it soon.

[2017-04-14 01:27] sdboyer commented on #41
Ah @mh-cbon, sorry, I'm just seeing this response now - somehow I missed it in my notifications. What you're describing seems in the right ballpark, but is involving a few too many of the moving parts.

That's OK, though - I think I've been overestimating the difficulty of this. Getting this done is now formally a blocker for dep, so I'm gonna try to bang it out.

[2017-04-14 23:23] sdboyer commented on #10
It actually wasn't that bad :)

[2017-05-02 10:13] #44 closed

[2017-05-02 13:48] #10 closed

[2017-05-02 13:49] sdboyer commented on #41
awesome, dis all done

[2017-05-02 13:49] #41 closed

[2017-05-02 13:49] sdboyer commented on #42
Seems like this'd be the last thing needed before tagging a v2.0.0 version?

[2017-06-11 00:40] chicagozer opened #57 "GreaterThan function does not account for numerics within pre-release"
If I'm reading semver.org correctly,

[code]

This looks ok.

[code]
returns
[code]
However...
[code]
returns
[code]

[2017-07-07 02:55] mattfarina commented on #57
The comparison works with things like `beta` but not with `SNAPSHOT`. Investigating.

[2017-07-07 03:56] mattfarina commented on #57
Pull request in #58.

[2017-07-10 14:35] #57 closed

[2017-07-26 18:23] jbcpollak commented on #57
I ran into this bug with LessThan, it looks like the PR will fix that as well, but can someone confirm that is true?

[2017-07-26 21:16] carolynvs opened #59 "NewConstraintIC interprets a dash in the prerelease tag as a range separator"
In golang/dep, we are using `semver.NewConstraintIC` to parse raw strings as constraints and some of them aren't being handled as expected:

* `v1.12.0-g2fd980e` properly returns `(semver.rangeConstraint) ^1.12.0-g2fd980e`
* `v0.12.0-12-g2fd980e` returns `(semver.rangeConstraint) >=0.12.0, <=12.0.0-g2fd980e`, when I expected `^1.12.0-g2fd980e`
* `v1.12.0-2-g2fd980e` returns `(semver.rangeConstrain

[2017-08-15 18:04] carolynvs commented on #10
I'm hoping you can help answer a question on how to test if a version within in a range. When the version that I am checking has a prerelease tag, the Constraint fails in an unexpected way, considering that LessThan works as expected.

[code]

Should I just not use Constraints and stick with LessThan? Strip the prerelease tag off before checking if it matches a constraint? Submit a PR? 😉

For cont

[2017-08-15 18:18] sdboyer commented on #10
on the 2.x branch, there's a big difference between a compatibility range and an ordinal range. range constraints in this lib are designed to model compatibility per the semver rules, which means that they can have some peculiar rules around whether e.g. prerelease versions are incorporated or not.

if you just want to know whether one version is less than another, then yeah, you're better off wit

[2018-01-19 02:14] nic-fio opened #63 "NewConstraint returns nil"
Hello, `semver.NewConstraint` returns err for `>= 1.3.1 < 2`

[code]

[2018-04-02 14:09] mattfarina commented on #63
@nic-fio multiple constraints needs to be separated by a comma as @ae-dg pointed out. Since this has been answered I'm going to close the issue. If you have any further needs please feel free to open a new issue or re-open this one.

[2018-04-02 14:09] #63 closed

[2018-04-06 02:18] consideRatio opened #69 "Constraints malfunction?"
Since these tests are successful:
https://github.com/Masterminds/semver/blob/8d82589cda2d7b5b9167396841975c4535c9bec6/constraints_test.go#L75-L76

shouldn't the following test also succeed? (They don't)
[code]

[2018-04-07 13:59] mh-cbon commented on #69
given Y a non PR version string, is its alpha PR version greater than its non PR version, aka IS Y-alpha > Y, the answer is no, i believe, thus : `{">Y", "Y-alpha", false},`

Because 0.0.1-alpha is greater than 0.0.0/0.0/0, `{">0.0", "0.0.1-alpha", true},`

Because 0.0.0-alpha is smaller than 0.0.0/0.0/0 `{">0.0", "0.0.0-alpha", true},`

I believe the test should be updated so we express things in

[2018-04-07 18:25] consideRatio commented on #69
@mh-cbon thanks for clarifying this! This strengthens me to believe the following tests should pass. Do you also think they should pass?

[code]

---

I appreciate the tests as they are as well, they are close in format to the actual usage of the functions. If I have this constraint, and this version, does the constraint allow it?

[2018-04-08 01:08] consideRatio commented on #69
Btw, I've ended up here while trying to figure out why writing a constraint like `>=v1.8.0` did not match `v1.9.4-gke.1`. Do you understand why @mh-cbon ?

Apparently it might work if we use `>=v1.8.0-asdf` or `>=v1.8.0-r0`, I don't get why either though.

[2018-04-08 07:52] mh-cbon commented on #69
https://github.com/Masterminds/semver#basic-comparisons
[code]
I understand now, it has something to do with version pinning, dependency upgrade of some old relations, and beta stuff. I d need a white board to express myself on that matter, but after i read this, i think maintainers are right.

[2018-04-08 08:49] consideRatio commented on #69
@mh-cbon ah thanks a lot for helping me out!

One question remains for me about why the first case below be different from the others. But it was good to hear that the others were intentionally made that way for a reason I can grasp. I presume it is intentional though since there is actually a test for exactly that so I'm closing this issue.

constraint | version | constraint.check(version)
:-|-|-

[2018-04-08 09:32] #69 closed

[2018-04-08 09:39] mh-cbon commented on #69
@consideRatio you might check https://github.com/Masterminds/semver/issues/59

Not exactly the same matters, but its about pre-release handling when facing edge cases (note this field is generally speaking difficult to handle because it s by design loosely specified).

[2018-04-10 20:52] mattfarina commented on #43
There is now a cli called [vert](https://github.com/Masterminds/vert) that uses this library. @technosophos developed it awhile ago and we moved it over to the Masterminds org.

[2018-04-10 20:52] #43 closed

[2018-04-16 18:54] thrnio opened #74 "Miscomparison of versions with "negative" pre-release identifiers"
Consider `1.0.0-beta.-3`, `1.0.0-beta.-2`, and `1.0.0-beta.4`. Each of these is a valid SemVer version string. Per SemVer,

This means that `1.0.0-beta.4` should be treated as having a numeric second pre-release identifier, while `1.0.0-beta.-3` and `1.0.0-beta.-2` should be treated as having an ASCII alphanumeric second pre-release identifier. Therefore, the correct ordering of these versions sho

[2018-04-16 18:54] thrnio opened #75 "NewVersion allows non-SemVer versions"
The following versions are not valid SemVer, yet are parsed as valid by NewVersion:

* `1` – "A normal version number MUST take the form X.Y.Z where X, Y, and Z are non-negative integers"
* `1.0` – "A normal version number MUST take the form X.Y.Z where X, Y, and Z are non-negative integers"
* `01.01.01` – Major, minor, and patch versions "MUST NOT contain leading zeroes"
* `1.0.0-beta.02` – Regar

[2018-05-15 20:35] bmghirbi commented on #75
The PR #76 is fixes the first three use cases.

[2018-06-05 16:45] scotthew1 opened #77 "constraint * does not match versions with a pre-release string"
simple test
[code]
output:
[code]

[2018-07-02 11:34] omerlesh opened #79 "Failed parsing versions with 4 parts"
There are many nuget packages which include 4 parts.
for example :
   Microsoft.AspNet.Mvc.zh-Hant version 3.0.50813.1

When trying to convert the version string into a version (method NewVersion) it fails on line :
  	m := versionRegex.FindStringSubmatch(v)
and returns nil

[2018-07-14 03:39] beornf commented on #79
Also find this issue when parsing the latest version of Aerospike database being 4.2.0.4.

[2018-07-18 21:58] scotthew1 commented on #77
oh yes, sorry i forgot about this issue.. i did ultimately sort it out

[2018-07-18 21:58] #77 closed

[2018-07-20 08:44] beornf commented on #79
Agree these don't strictly follow the SemVer spec. Just found https://github.com/hashicorp/go-version that can handle more than 3 parts for arbitrary version schemes.

[2018-07-20 17:37] mtherreault opened #81 "Pre-release versions handling not consistent"
In the documentation about pre-release version:

But code prove this claim to be not respected and behavior not consistent:

[code]
Will output:

[code]

[2018-08-07 15:47] mattfarina commented on #81
I've verified this is a bug. Thanks for catching it.

[2018-10-02 01:00] graywolf336 opened #84 "Export Constraints Values"
Currently when you parse a constraint you can not access the resulting versions which make up the constraints. We would like to get access to those so that when we save a result to the database, we can query them at a later date.

[2018-11-09 20:33] scunningham opened #85 "Constraints fail"
It would appear that constraints fail when used with pre-release versions.  In particular, a pre-release is  considered newer incorrectly.  Program below against v1.4.2; output above:

----
3.3.0 < 5.0.0 == true
3.3.0 check(< 5.0.0) == true
3.3.0-47 < 5.0.0 == true
3.3.0-47 check(< 5.0.0) == false
3.3.0-47 is greater than or equal to 5.0.0
----

and the code:
[code]

[2018-11-12 04:22] jeremycarroll opened #86 "ValidPrerelease should end in $"
I was reading the code and came across:
[code]
in `version.go`. I don't know go, but it seems to me to mis-implement the [metadata extension](https://semver.org/#spec-item-10), in that this regex matches '0==='
i.e.
[code]
gives true, nil.

[2018-12-03 13:59] EugenMayer commented on #81
was the main reason to not consider this library, switched to https://github.com/blang/semver right away - pitty was i discovered the bug myself instead of reading the issue queue before trying the lib ;/

Makes this library more or less useless (IMHO)

[2018-12-04 20:48] mark-rushakoff opened #88 "Remove header line from license"
The license appears to be MIT, but the first line `The Masterminds` confuses the github UI and the licensee gem, so that it isn't obvious until manual investigation that this is MIT-licensed. Please remove the first line so that tooling isn't confused. Thanks.

[2019-02-17 11:43] maxyor6040 opened #90 "add go.mod and go.sum to support the official package manager for golang"
LMK if you want me to make a pull request

[2019-04-19 22:52] jmorrell opened #93 "Invalid constraint comparison for <11"
I would expect the following to both fail the constraint check here, but `< 11` is being interpreted differently

[code]

Namely `< 11` is hitting [this branch](https://github.com/Masterminds/semver/blob/master/constraints.go#L178) and being marked as `dirty` where as `< 11.0` does not

[2019-04-19 23:18] jmorrell commented on #93
More succinctly `< 11` gets interpreted as `< 11.x` which seems like a potential bug. This comes from trying to migrate a service from Node to Go, and this is a case where the behavior here does not match [the behavior of the npm semver module](https://www.npmjs.com/package/semver).

[2019-04-23 20:35] mattfarina commented on #93
@jmorrell Thanks. I'll take a look into this.

All of this would be so much easier if there was a semver range spec we could all follow.

[2019-04-23 22:38] jmorrell opened #95 "Lack of support for ranges without commas"
Another issue trying to replace a service using the [Node semver module](https://www.npmjs.com/package/semver) with this library comes from ranges defined without commas. Example: `>=1.2.9 <2.0.0`

This will only parse that range if it is expressed with a comma separator: `>=1.2.9, <2.0.0`

I was able to write a function that detects this case and rewrites the ranges to match: https://github.com/h

[2019-04-24 14:58] mattfarina commented on #93
A quick check of the node semver package...

[code]

[2019-04-24 15:24] mattfarina commented on #93
@jmorrell Thanks for bringing this to my attention. It would be far more intuitive to follow the flow of the node semver module. But, I think changing what we have now to follow node would break the major semver so we'd need to increment to a v2. Before I work to make changes I'm going to chase this down.

That being said, now is a good time for a v2 as a big project I work on is working on a majo

[2019-04-24 15:28] mattfarina commented on #95
@jmorrell Thanks for this work. I like this change. Will look for a place to bake it into the project.

[2019-04-24 16:19] mattfarina commented on #85
@scunningham While I've not yet run your code I can explain the reason. `3.3.0-47` is a pre-release. [According to the spec](https://semver.org/#spec-item-9):

The pre-release of `3.3.0-47` may not be API consistent with `3.3.0` and there are often changes between pre-releases that break APIs.

The issue here is the inconsistent handling. That's due to the pre-release handling being added on after

[2019-06-04 19:36] mattfarina opened #99 "Major Release Coming"
The semver package has been around more than 3 and a half years. That is a long time for a v1. This issue documents the current plan.

**Features:**

The features we would like to see incorporated are:

- [ ] Range support that mirrors what NPM and possibly others are doing. For instance, no need for a comma between multiple parts of a range
- [ ] Go module support
- [ ] Better error handling

**K

[2019-06-10 19:18] DominicTobias opened #100 "Find best match given an input and an array"
Hi thanks for this lib,

I was wondering if it's possible to use it to achieve this:

Given an array of possible versions, find the highest matching one. So e.g:

[code]

so `~1.2.1` should match `1.2.4` and `^1.2.1` should match `1.3.0` (since caret allow minor version increments).

Is this possible with this lib? I couldn't see something obvious in the readme to help me do it so just checking.

[2019-07-08 13:28] alenkacz opened #101 "Be able to print out Constraints to string"
Right now, it's not possible for error messages etc. to print out the constraint itself. It would be good to have inverse function to `parseConstraint` and be able to get back the constraint as printable string.

[2019-07-08 13:29] alenkacz commented on #101
@mattfarina if you agree with this feature I can contribute the solution to that

[2019-07-19 15:44] mattfarina commented on #101
@alenkacz i like the idea. Go for it.

[2019-07-19 15:45] mattfarina commented on #100
@DominicTobias that's exactly what this lib does.

[2019-08-29 19:18] mattfarina commented on #90
This change has now landed on master and will be part of the 3.0.0 release coming soon.

[2019-08-29 19:18] #90 closed

[2019-08-29 20:00] #75 closed

[2019-08-29 20:39] mattfarina commented on #81
I'm working on this now. The bug has to do with the Validate messages and not the validation checks itself. If `Check` is used it behaves as expected. My guess would be that `Validate` has not been used very often with these conditions.

[2019-08-29 20:40] mattfarina commented on #74
This has been fixed on the release-1 and master branches. The fix will be in the upcoming releases.

[2019-08-29 20:40] #74 closed

[2019-08-30 07:20] gunsluo opened #110 "Masterminds/sprig/semver.go:22:2: cannot use semver.Version as type *semver.Version in return argumen"
Masterminds/sprig/semver.go:22:2: cannot use semver.Version as type *semver.Version in return argumen

[2019-08-30 08:35] #110 closed

[2019-08-30 13:34] #81 closed

[2019-08-30 15:23] mattfarina commented on #88
This has been done. Thanks for pointing it out.

[2019-08-30 15:23] #88 closed

[2019-08-30 19:49] mattfarina commented on #93
This has now been fixed in the 3.x development branch and will be in the next release. Thanks for the feedback.

[2019-08-30 19:49] #93 closed

[2019-08-30 19:52] mattfarina commented on #93
One quick note.. the nodejs semver package does one thing in its range syntax that is not semver. The point is noted in their docs at...

When sorting for semver they don't show everything that matches on prereleases if they strictly followed the semver sorting rules.

This semver package does not follow nodejs on this one point. There are use cases where people want the strict semver sorting when

[2019-09-05 20:11] mattfarina commented on #86
Closing as this was merged.

[2019-09-05 20:11] #86 closed

[2019-09-05 20:44] mattfarina commented on #100
I'm going to close this support/question. If there are further questions please feel free to ask.

[2019-09-05 20:44] #100 closed

[2019-09-06 19:02] mattfarina commented on #85
I just looked things over, including what others are doing, and updated the docs.

The comparisons on `Version` are spec compliant to comparisons and always include prereleases. The spec part is at https://semver.org/#spec-item-11.

The constraints different tools use, like npm/js, cargo/rust, and composer/php use are not to any standard and are different. Because prereleases are not expected to b

[2019-09-06 19:02] #85 closed

[2019-09-09 20:23] mattfarina commented on #95
#116 will add this feature

[2019-09-09 20:24] mattfarina commented on #95
Closing as it's merged. Will be in the 3.0.0 release

[2019-09-09 20:24] #95 closed

[2019-09-09 20:40] mattfarina commented on #101
With the merger of #117 this is now available. It will be in the release of v3

[2019-09-09 20:40] #101 closed

[2019-09-09 20:41] mattfarina commented on #101
Note, if someone wants to backport this to the v1 I would be open to it.

[2019-09-09 20:42] mattfarina commented on #84
Constraints in v3 will implement `String()` that will generate a constraint string from the original values.

[2019-09-09 20:42] #84 closed

[2019-09-09 20:42] mattfarina commented on #84
Note, I would be open to a change to add this to v1

[2019-09-09 22:11] aaronbee opened #119 "constraintCaret broken"
Commit 6e10208dbd98598d9b573411da40bfd7fc0c2ef3 broke `constraintCaret`. If the major version is greater than constraint major version and if some combination of minor or patch versions are equal, the constraint falsely passes. The following test case added to `TestConstraintCheck` reproduces the behavior.
[code]
[code]

[2019-09-10 12:54] mattfarina commented on #119
I can confirm the bug and will have a fix out shortly. Thanks for reporting this.

[2019-09-10 16:01] #119 closed

[2019-09-13 12:40] prymitive opened #125 "Cannot use v3"
Trying to upgrade to v3.0.0

[code]

but Go wants `/v3` suffix on the module:
[code]

so added it:
[code]

but getting an error during `go build` and `go mod tidy`:
[code]

[2019-09-13 15:20] #125 closed

[2019-09-13 15:22] mattfarina commented on #125
@prymitive Thanks for catching this. It should now be fixed. Try using v3.0.1 with the bugfix.

[2019-09-23 17:12] kevinburke opened #127 "Please flush out v3 Changelog"
Hi,
I'm trying to update golang/dep to use the latest version of this library but I've run into a few problems.

- Previously you could cast the result of `semver.NewConstraint` to a `semver.Version`. Now you can't. The CHANGELOG gives no guidance on how to update this.
- `semver.NewConstraintIC` seems to have disappeared and there's no guidance in the CHANGELOG on how to update it.

Confusingly,

[2019-09-23 17:17] kevinburke commented on #127
If you want to reproduce you can check out the build here. https://travis-ci.org/golang/dep/builds/588252088

[2019-09-24 15:34] mattfarina commented on #127
For reference on my archiving comment see https://github.com/golang/go/issues/29639#issuecomment-454509924 where it says

[2019-09-27 03:26] medium-joel commented on #125
I'm still encountering this error an am on v3.0.1

[2019-09-27 16:14] kgrvamsi opened #129 "Build failing because of missing package"
Hello,

I see the following issue when i try to build the code

[code]

Is there any change in the package?

[2019-09-30 15:42] mattfarina commented on #129
That's a great question. I've not considered gb in some time.

semver v3 now uses Go modules which have been released (GA). semver is also at major version v3. Go modules requires (it fails if you don't) to have major versions as part of the package path after v1 (v2 and up). So, that /v3 on the end is the major version.

The wiki has a bunch of details on this at https://github.com/golang/go/wiki

[2019-09-30 17:47] kgrvamsi commented on #129
We are moving to Go Modules but for now there is a project that needs to handle with gb as the package manager.

So @mattfarina if my project moves from gb to Go Modules way that this issue would be fixed?(I see that https://github.com/Masterminds/sprig/blob/master/go.mod declared the dependencies with v3 at the end)

[2019-10-01 13:39] mattfarina commented on #129
@kgrvamsi yes, it would be fixed. The v3 release was shipped with Go modules in mind.

[2019-10-17 01:54] aegershman opened #130 "Constraints marshaller"
disclaimer: I'm new to golang, might be doing something wrong or missing something in front of me

Could `Constraints` include a default json/yaml marshaller similar to https://github.com/Masterminds/semver/issues/44 so that `Constraints` could be used directly when unmarshalling into a struct without [writing a custom one](https://blog.gopheracademy.com/advent-2016/advanced-encoding-decoding/)?

[2019-10-21 18:01] ryancurrah opened #132 "Add support for SQL"
Would love to use this as a struct DB field with `gorm`. I created a PR that adds this support in the `Version` type.

https://github.com/Masterminds/semver/pull/131

[2019-11-03 00:42] krmichelos opened #133 "^0.0 constraint matches major versions that is shouldn't (e.g. 1.0.0)"
It appears that if the minor and patch versions match the ^0.0 constraint then Check returns true regardless of what the major version is.

[code]

prints true but I would expect based on the readme (`^0.0` is equivalent to `>=0.0.0 <0.1.0`) that it should print false

[2019-11-10 19:48] tiagokv opened #135 "Version with prerelease and Constraint without it - Comparison fails even in simple cases"
According to the README.md, when you want to use prerelease comparison, `-0`should be append in the end of the sem. version in constraint, but the case where I still do not want prerelease comparison but the version includes it, is misleading.

Example:
[code]
The last command prints `false`, even though discarding the prerelease is should result in `true`.

Expected behavior:
When using constrain

[2019-11-14 13:52] #133 closed

[2019-11-14 15:06] krmichelos commented on #133
@mattfarina, since this is the only new code any chance we could get it released as 3.0.2?

[2019-11-26 13:50] consideRatio opened #137 "constraints.go - NewConstraint from version ignores build suffix?"
In https://github.com/helm/helm/issues/6710 I've tracked down an issue for `helm`, both v2 and v3, relating to logic within this project. The issue stems from that creating a constraint from a version seemingly ignores build suffix of the version the constraint were created from, and when using this created constraint to run a Check() against another version, they are considered alike no matter wh

[2019-11-26 16:35] consideRatio commented on #137
Closing as it is consider the most reasonable behavior for masterminds/semver:
- https://github.com/helm/helm/issues/6710#issuecomment-558710625
- https://github.com/Masterminds/semver/pull/138#issuecomment-558692881

[2019-11-26 16:35] #137 closed

[2019-12-05 19:03] prymitive commented on #135
Looks like I'm hitting a problem where `semver.NewConstraint(">=0.17.0")` doesn't pass for `0.19.0-rc.0` which according to https://regex101.com/r/Ly7O1x/3/ should be a valid semver.

[2019-12-07 18:19] mattfarina commented on #135
The pre-release is not a part of the version but a type for the whole version. The whole `2.0.0-alpha` is the pre-release not just the `alpha` portion of it.

[Per the spec](https://semver.org/#spec-item-9):

This saying that the way to mark the version [whole version] as a pre-release is by using a hyphen and then a pre-release identifier.

What you are asking for breaks from the specification an

[2019-12-07 18:27] mattfarina commented on #135
@prymitive This is where semantic versioning gets complicated.

[From the spec](https://semver.org/#spec-item-9):

This means a pre-release may break from API compatibility from the release. For example, `0.19.0-rc.0` could break from API compatibility with `0.19.0`. I imagine it is unlikely but it could  happen and the spec allows for it. The spec allows for a pre-release to, for example, add a n

[2019-12-09 06:15] alketaR opened #141 "Comparison against dirty versions fails"
I notice that with v3.0.1 and v.3.0.2 the comparison fails when the constraint is build with a dirty version (eg. 4.5).

[code]

In The Go Playground, where v.1.5.0 is used, there is no such a bug.
From debugging I see that the problem is in constraints.go, line 404 (v3.0.1)

[2019-12-12 20:23] mattfarina commented on #141
In the playground... https://play.golang.org/p/loDoXzw7Aki

[2019-12-13 17:26] #141 closed

[2019-12-17 11:24] consideRatio opened #143 "Regression in v3 or unexpected breaking behavior"
We experienced an issue in Helm v3 that has worked fine in Helm v2. It relates to a change of masterminds/semver v2 to v3. The downstream issue is described here briefly: https://github.com/jupyterhub/chartpress/issues/86#issuecomment-566498375, but it is really an issue of masterminds/semver, and is reproducible in this Go Playground: https://play.golang.org/p/G_e5Mfi5K87

[2019-12-17 12:07] consideRatio commented on #143
It relates to these changes by @mattfarina, that excludes the use of versions with leading zeroes:
https://github.com/Masterminds/semver/commit/23f51de38a0866c5ef0bfc42b3f735c73107b700#diff-ccde124315e74e68fae484840d08dff5

[2019-12-17 12:13] consideRatio commented on #143
I've pinpointed that this is a breaking change to me only because now the semver specification is followed properly.

ref: https://semver.org/#spec-item-9 (from item 9)

[2019-12-18 15:54] prymitive commented on #135
Thanks for details, I have a fairly simplified case and I think that I can safely strip `-rc.0` part away before checking contrains. Although I might look at `semver.Version.Compare` if that proves to be insufficient or incorrect. Thanks!

[2019-12-30 15:31] mattfarina commented on #143
@consideRatio sorry for the slow response. It's the holidays so responses are slow right now.

You are right about the semver lib now following the specification. That's the reason. Most of the changes to v3 are behavior based rather than Go API based. This is one of them.

[2020-01-04 21:25] xoba opened #144 "no support for go modules in version 3?"
with gomodules, "go get github.com/Masterminds/semver" picks up v1.5.0, not v3.0.3.

[2020-01-06 10:29] xoba commented on #144
oops, apparently my bad, didn't realize i had to import it as follows in my go.mod:
[code]
seems to work for me now, thanks! sorry for the false alarm.

[2020-01-06 10:29] #144 closed

[2020-01-10 15:17] alketaR opened #145 "no valid error messages from Validate() when constraints are build with caret or tilde"
Running the code below, gives the following error message:
"1.6.6 does not have same major version as 1.12.7. "

This error message does not make sense here, as I have the same Major for both.

I would expect instead an error message like the following:
"1.6.6. is not in the range >= 1.12.7, < 2.0.0"
OR
"1.6.6. is not  >= 1.12.7"

package main

import (
	"fmt"

	"github.com/Masterminds/semver"
)

[2020-01-30 02:59] alecthomas opened #146 "Inconsistency with partial versions"
This prints true:

[code]

While this prints false:

[code]

Is that intentional? If not I can fire off a PR.

[2020-02-13 15:55] mattfarina commented on #146
@alecthomas Thanks for catching this. You did find a bug.

[2020-02-13 16:02] mattfarina commented on #146
Actually, what version of sermver are you using? In semver v3 I do not get the same result as you. See https://play.golang.org/p/DhG4bHORwf-

[2020-02-19 18:23] giltohar opened #147 "Improper Constrain error returned when no comma provided in range"
I am returned this error: `"improper constraint: >=4.x.x <5.x.x"` when i don't provide a comma between the upper and lower bound.

It works fine when comma is provided, but your docs say that comma or space are acceptable...

[2020-03-09 12:41] mattfarina commented on #147
@giltohar which version of semver are you using? The lack of a comma was for v3. The previous version required a comma. I know this can be confusing.

[2020-03-09 12:48] mattfarina commented on #145
This is a wonderful idea on how to fix this. Thanks.

[2020-03-09 15:37] mattfarina commented on #132
This was merged and will be in the next minor release.

[2020-03-09 15:37] #132 closed

[2020-03-10 13:19] #145 closed

[2020-03-16 22:30] jhamman opened #149 "Sorting of pre-release versions"
How are pre-release versions intended to be sorted in this library?

Take this simple test:

[code]
which yields:
[code]

I would have expected the following ordering: `[0.11.0 0.11.0-20.g070e4a9 0.12.0]`. Is this the expected behavior?

[2020-03-26 15:56] antonosmond commented on #135
Given the following versions:
[code]
I'd expect a constraint of `< 1.0.0-0` to give me those versions back (as the constraint inc. the prelease switch) however it returns nothing.
If I change the constraint to be `< 1.0-0` (dropping the patch version) then it returns them all.

[2020-03-26 16:27] antonosmond opened #150 "v3 - Constraints don't appear to work as expected"
The semver spec states that prerelease versions always have a lower precedence than a normal version (https://semver.org/#spec-item-11).
Given:
[code]
`1.0.0-rc1` should be < `1.0.0`.
Given a constraint e.g. `< 1.0.0` I'd expect `1.0.0-rc1` to be flagged as true in the constraint check because it IS less than `1.0.0` however this doesn't appear to be working.
Have a look at this: https://play.gola

[2020-03-26 16:32] antonosmond commented on #150
What's really strange is the final constraint check - `<=1.0-0`
In this check `1.0.0-rc1` passes the constraint as `true`. We know that `1.0.0-rc1` is NOT equal to `1.0.0` therefore it must be less than `1.0.0`. If this is true then the constraint `<1.0-0` should also flag it as true but it flags it as false.

[2020-03-28 13:23] yanislavm commented on #150
Isn't this topic related to https://github.com/Masterminds/semver/issues/21

[2020-04-15 20:33] mattfarina commented on #149
@jhamman pre-releases are those that are before a release. The spec provides an example of precedence which has an ordering in it at https://semver.org/#spec-item-11. The order you see in the sorted tags is the order that is correct per the spec.

[2020-04-15 20:40] mattfarina commented on #150
@antonosmond I think I can answer this. `<` is less than. So, `< 1.0.0-0` is saying that it's looking for versions that are less than `1.0.0-0`. The `-0` is saying to use `0` as the prerelease. SemVer uses Ascii characters so sorting can be funny. See https://www.asciitable.com/ for ordering. `0` is the lowest value accepted by the spec.

I modified your playground a little to show this. See https

[2020-05-07 15:47] Masquerade0097 opened #152 "reading github.com/Masterminds/semver/go.mod at revision v1.12.2: unknown revision v1.12.2"
Getting the following error in go installs -

`go: github.com/Masterminds/semver@v1.12.2: reading github.com/Masterminds/semver/go.mod at revision v1.12.2: unknown revision v1.12.2`

Go version - `1.13.10 `

I tried the removing the `Masterminds/semver` entries from go.sum, cleaning the cache `go clean -modcache` and `go get github.com/grpc-ecosystem/grpc-gateway`. But I get the same error again.

[2020-05-11 17:20] mattfarina commented on #152
There is no semver v1.12.2. If you see the releases page you'll see https://github.com/Masterminds/semver/releases.

[2020-05-13 14:53] #152 closed

[2020-05-25 11:09] nikoksr opened #153 "Functions to decrease version numbers"
**Problem:**
In one of my projects I need an internal fallback version to the current version. This fallback version should be the direct minor or major predecessor of the current version. In my case I would need the possibility to reduce the number of the major or minor version.

**Example:**
Current version: `v0.20.0`
Fallback version: `v0.19.0`

**Proposed solution:**
We would need the exact op

[2020-07-06 23:30] mrgadgil commented on #147
@mattfarina Which version of masterminds/semver should I use? I am looking for a which has fix and both , and space are accepted in the range

[2020-09-02 18:32] squaremo commented on #150
@mattfarina From the output of https://play.golang.org/p/w4UElRmiFQz:

[code]

So 1.0.0-rc1 is not less than 1.0-0, but is less than or equal to 1.0-0, so ... it must be equal?

[2020-09-03 11:44] GopherJ opened #154 "filter preview versions"
Is it possible to filter preview versions?

[2020-09-26 00:03] jchunkins opened #155 "auto generation of findConstraintRegex is not consistent"
While I was digging through the implementation to understand the code better, I found that the generation of `findConstraintRegex` is dependent on ranging over the map `constraintOps`. The range operation is happening here https://github.com/Masterminds/semver/blob/60c7ae8a99210a90a9457d5de5f6dcbc4dab8e64/constraints.go#L168-L170

As a result, when the constraint operators are generated for `findC

[2020-10-21 15:42] cagataygurturk opened #156 "Issue with tilde constraint"
It seems that there is an issue with tilde constraints. Version "0.1.0" matches "~0.0.0" although it should not.

Adding the following test cases causes a failure:

https://github.com/cagataygurturk/semver/commit/32e10671da3fbb7110f79679587e6799945c27ef#diff-38863e0a01899c69c60ca35df3a357eb9839bc41ea818352ee5240c728234920

Thanks.

[2020-11-16 14:56] mattfarina commented on #154
I think you are referring to pre-release versions. Yes. You can use a constraint with a pre-release in it to look for those. For example, `1.2.3-0`. This will include pre-releases.

[2020-11-16 15:03] mattfarina commented on #155
Thanks for bringing this up. The lack of a deterministic order for range is a good catch.

[2020-11-16 15:05] mattfarina commented on #156
Thanks for catching this issue.

[2020-11-16 15:08] mattfarina commented on #150
@squaremo I can answer this. `1.0-0` translates into `1.0.x-0`. The x is a wild card not a 0.

[2020-11-16 15:08] mattfarina commented on #147
To support go modules, the space, and the comma you should use v3.

[2020-11-17 22:44] andriisoldatenko opened #157 "Proposal: add Coerce method to Version type which takes a string into SemVer if possible"
something like:
[code]

inspired by node.js version https://www.npmjs.com/package/semver

Let me know if i can fire PR.

[2020-11-18 16:47] mattfarina commented on #157
What's the use case for Coerce? semver already has a `NewVersion` and `StrictNewVersion`. The first performs a minimal coerce and the second does not. For an example, see https://play.golang.org/p/zqjlWuyO0JT.

If you look at examples the coerce JS function works on... you'll see that `NewVersion` will throw an error. Like `42.6.7.9.3-alpha`. This is where it gets interesting. In the `Test_coerce`

[2020-11-18 17:43] mattfarina commented on #156
I did a little looking. According to the internal code comments...

This is intentional behavior that came from v1. While I would like to change this it would mean a v4 of this package because it's following the intent.

I'm changing this to an enhancement so that when v4 is released we can incorporate it.

[2020-11-18 17:45] mattfarina commented on #156
Note, I do not remember by `~0.0.0` is a special case. I wish I did. Better comments would have helped.

[2020-11-19 13:58] andriisoldatenko commented on #157
@mattfarina thanks for quick reply!

Use case is pretty simple: you have list of strings versions `["1.10.5-11-alpine3.10-onbuild", "1.10.5", "1.10.12-buster"]` and valid min SemVer: e.g. `1.10.12` and goal is to filter list by that version and return:
[code]
yeah looks like it was my fault:
[code]
so it works as expected. https://play.golang.org/p/If5d3Rmgozr

[2020-11-19 13:58] #157 closed

[2020-11-19 14:09] #155 closed

[2020-11-19 14:09] mattfarina commented on #129
Closing as conversation ended over a year ago.

[2020-11-19 14:09] #129 closed

[2020-11-19 14:10] mattfarina commented on #135
Closing as conversation ended over a year ago.

[2020-11-19 14:10] #135 closed

[2020-11-19 19:31] jchunkins commented on #155
Thanks for the fix.

[2020-11-25 14:09] mattfarina commented on #42
This issue is 3 years old and v2 is no longer being developed. It was never released. Closing issue.

[2020-11-25 14:09] #42 closed

[2020-11-25 14:09] mattfarina commented on #59
This issue is 3 years old and v2 is no longer being developed. It was never released. Closing issue.

[2020-11-25 14:09] #59 closed

[2021-02-04 21:01] karlmuscat-dpg opened #159 "Filter prereleases"
Hi. Is there a way how to filter prereleases? Assuming the below versions (ordered):

[code]

Is it possible to select only the alpha versions, and ignore the betas?

[2021-02-11 06:28] oocx opened #160 "alphanumeric identifier in prerelease version should be allowed to have a leading 0"
According to https://semver.org/#spec-item-9, the limitation that leading zeros are not allowed applies to numeric identifiers, not alphanumeric identifiers. However, currently alphanumeric identifiers with a leading 0 are rejected as "invalid" as well.

For example, we use major.minor.patch-commitHash as version number for our helm charts. This currently fails if the commit hash randomly happens

[2021-03-04 16:37] mattfarina commented on #160
@oocx can you provide some examples that are failing as bugs. The one on the Helm issue was a number that started with 0 and did not contain characters outside of 0-9. Therefore it's a number in terms of the spec. A commit hash can be a number.

The section of code in semver that validates pre-release segments can be found at https://github.com/Masterminds/semver/blob/49c09bfed6adcffa16482ddc5e558

[2021-03-04 16:51] mattfarina commented on #159
It is possible. Here's an example... https://play.golang.org/p/Ix-OuFIQQoT

If you're just looking for the version range... `>= 1.0.0-beta`

[2021-03-05 06:27] oocx commented on #160
@mattfarina An alphanumeric identifier is not required to contain letters, it can consist of numbers only, including a leading 0. The spec even provides a regular expression.

I think the spec could be interpreted in both ways. I'll ask in the semver repo for a clarification.

[2021-03-05 06:44] oocx commented on #160
@mattfarina  I found the answer: while the spec text is ambiguous, there is actually a BNF that defines what valid values are: https://semver.org/#backusnaur-form-grammar-for-valid-semver-versions

According to this spec, an alphanumeric identifier must always contain at least one non-digit character.
[code]

So your implementation is correct according to the spec. Sorry for bothering you with thi

[2021-03-05 06:44] #160 closed

[2021-03-25 11:19] ajkachnic opened #162 "Fault tolerant constraints"
Hello! I've been using this module to parse the versions of NPM packages. It works 95% percent of the time, but occasionally it errors from a constraint like `2 >=2.7.0`.

I'm not too sure why this is considered invalid, but it somewhat makes sense. I don't know if it's actually compliant by spec or not.

Regardless, what do you think is the best way to resolve this? This is by far the best Go sem

[2021-03-26 15:03] mattfarina commented on #162
I think think this is a bug in the package.

First, there is no spec for version ranges. Some libraries use a different syntax for ranges or the same syntax but it means something different. I wish there was a spec.

I think this is a bug in this package and I'll take a look to confirm.

[2021-03-26 16:26] mattfarina commented on #162
I took the bug label off because I wasn't able to reproduce the issue in the latest release.

I created an example at https://play.golang.org/p/y3qJTBnZ3Ac

Looking at https://semver.npmjs.com/ and trying some examples... it seems the semver ranges used in npm would produce the same interpretation as this package for this situation.

Where are we not connecting? Can you provide more detail?

[2021-04-28 15:02] mattolenik commented on #150
This seems like a pretty severe bug. `1.0.0-beta1` is not considered less than `2.0.0`!
https://play.golang.org/p/y8V58z5BGWx

[2021-05-13 18:47] ltagliamonte-dd opened #164 "match on build metadata"
hello community!
Is there a way to match on semver build metadata?
I'm using build metadata to store the branch version and to avoid conflicts is 2 devs are working on the same chart.
I'm using helm cli that uses this library (v3) to find the correct version [link](https://github.com/helm/helm/blob/main/pkg/repo/index.go#L177) of a chart.
For example:
[code]
returns:
[code]

instead of returning e

[2021-05-28 17:17] afirth commented on #150
@mattolenik expanding to https://play.golang.org/p/t8fAR9oVDV8
[code]
it's _not compatible_ with ranges that don't specify they explicitly work with prereleases. Based on @mattfarina's explanation above, 1.x-0 translates to 1.x.x-x, all wildcards, and it's equal. See also https://github.com/Masterminds/semver/issues/21 and https://semver.org/#spec-item-9

honestly i think this could be closed, wor

[2021-07-06 20:06] mattfarina commented on #150
It's important to note that semver has a specific format for versions. The range syntax that is in use has no specification. In fact, different systems do ranges differently. Helm is currently patterned after what JS and Rust do. The JS libs (used in npm itself) may be the most widely used range usage.

[2021-07-07 14:49] mattolenik commented on #150
I must be missing something...how does any of that have bearing on a version starting with major version 1 being less than a version starting with 2? Should I open a second issue for that? Surely my example cannot be expected behavior!

[2021-08-12 20:08] tarrencev opened #166 "Zero Major Caret Special Case"
The semver specification has a special case for the caret constraint when the major version is zero. In that case it is equivalent to tilde. It is described a bit more here: https://nodesource.com/blog/semver-tilde-and-caret/

Would you be ok with me adding this logic?

Edit: Hm i see this is described here but i'm seeing a different behavior https://github.com/Masterminds/semver/blob/49c09bfed6ad

[2021-08-12 20:32] tarrencev commented on #166
Ah I was pulling an old version of the lib. Works great in v3!

[2021-08-12 20:32] #166 closed

[2021-12-15 13:53] SimonTheLeg commented on #130
just stumbled across this: Was there a specific reason this was closed?

If not I would like to contribute to this. This functionality would be nice to have for my use-case and before I wrap the constraint type and implement a custom marshaller in my code, I think it makes more sense to contribute it upstream :)

[2021-12-15 17:54] aegershman commented on #130
@SimonTheLeg the only reason I closed this was to trim my personal backlog of open issues. I'll re-open this, and please feel free to open a new issue where you're the original poster / or do whatever the maintainers prefer for issue management 👍

[2022-03-19 08:52] marghidanu opened #168 "Select only prereleases with tag"
Is there a way to select only prereleases and ignore stable versions?

For example I would like to match 0.1.x-alpha but ignore 0.1.x

[2022-04-26 23:46] ghostsquad opened #171 "This should be a CLI"
This really deserves to be a CLI. Anyone know of a CLI tool based on this?

[2022-04-26 23:47] ghostsquad commented on #171
and... I got to the (very small) second sentence in the readme. 👋

[2022-04-26 23:47] #171 closed

[2022-05-12 19:54] vladykin opened #172 "Constraint for exact version match"
semver.NewConstraint seems to always do fuzzy matching, even when no relational operators are specified, and even if '=' operator is used.

Example:
[code]

All these checks produce true.

Is there a way to specify a constraint that would require exact match of all components, including preprelease and build metadata components of the version? I would expect it to happen with '=' operator, but cur

[2022-05-19 11:45] hpdobrica commented on #159
This works for me if I look for a fixed version like `>= 1.0.0-rc`, but it doesn't if I try a constraint like `>= 0.0.0-rc`.

What i'm trying to achieve is get the latest release candidate version, regardless of what version it is. When I try the  `>= 0.0.0-rc`, it successfully tests against all `-rc` releases, but also against all `-beta` releases as well. As the matter of fact, if i use `0.0.0`,

[2022-06-02 22:38] vladykin commented on #172
Thanks, thank helps!

I confirm that specifying the constraint with all 3 components `major.minor.patch` makes the matching respect the prerelease, i.e.
* constraint `1.0.0-ff164935` or `=1.0.0-ff164935` matches version `1.0.0-ff164935`
* constraint `1.0.0-af839ds6` or `=1.0.0-af839ds6` does not match version `1.0.0-ff164935`

Is there a similar trick to respect metadata during matching?
I still s

[2022-06-03 00:56] mcandre opened #175 "Distinguish between zero values and missing values"
I have a need to distinguish between "2" and "2.0" post-parsing, without having to re-parse these strings.

For example, I am writing an automated system to identify when software component versions are no longer supported. The data about support timelines can vary about specificity, so that some products exit support as of a major-wide series 2.x ("2"), whereas other products develop at a much fa

[2022-06-23 19:47] mattfarina commented on #172
Per [the spec.](https://semver.org/#spec-item-10).. "Build metadata MUST be ignored when determining version precedence." So, there is no way to match on metadata as it is supposed to be ignored.

[2022-06-24 00:10] vladykin commented on #172
Understood, thanks!

[2022-06-24 00:10] #172 closed

[2022-07-21 14:06] carolynvs opened #177 "Allow pre-releases when only used for one part of a range?"
When I specify a range like so `1.0.0-0 - 2.0.0`,  pre-releases are not allowed, even though a pre-release is used for the lower range. Checking `1.0.0-alpha.1` against this range fails.

Adding a pre-release to the upper range is required to get it to work. Though I'd argue that the original range should have been sufficient. Otherwise it's pretty confusing that using an operator like ^1.0.0-0 al

[2022-07-21 15:21] carolynvs commented on #177
Hmm this is getting awkward! 😅  I'm trying to allow a prerelease on the lower bound and a stable release on the upper.

What I want to do is `1.0.0-alpha.4 - 1.0.0` which is represented internally as `>= 1.0.0-alpha.4 <= 1.0.0` but due to the upper range not being a prerelease, that doesn't work.

Is this the best, or most brief, way of expressing that range?

`1.0.0-alpha.4 - 1.0.0-z || 1.0.0`

[2022-07-22 06:21] pkbhowmick opened #178 "`Checking Version Constraints` is unpredictable while patch is missing in version string"
When I was trying to validate version `14.1.1-debian` against constraints `14.1.1-alpine`, it was giving error like `14.1.1-debian is not equal to 14.1.1-alpine` which is expected.

But when I was trying version `14.1-debian` against constraints `14.1-alpine`, it was considered as valid version which is not expected to me.

semver version: v3.1.1

For reproducing the error, I have given my go code

[2022-08-03 07:05] arshchimni opened #180 "Caret operator (^) gives unexpected results when the minor version in constraint is 0(zero)"
Hi Community.
Thank you for this helpful library.
I came across an issue today with the latest version while implementing the following constraint
[code]
According to the docs, this should exactly match only the `0.0.1` version and nothing else.
But it matches any minor version update as long as the patch is 1, ie; if we pass `0.3.1` the above constraint passes, but `0.3.0` fails.

This happens be

[2022-08-09 13:16] mattfarina commented on #177
Given what's already documented, I would consider this to be a bug.

[2022-08-09 13:17] mattfarina commented on #164
Closing as this appears to be handled.

[2022-08-09 13:17] #164 closed

[2022-08-09 14:48] carolynvs commented on #177
I'll work on getting a patch submitted then, thanks! 👍

[2022-08-09 15:21] #180 closed

[2022-08-09 16:38] mattfarina commented on #154
Closing due to inactivity.

[2022-08-09 16:38] #154 closed

[2022-08-09 16:55] mattfarina commented on #147
closing as this appears to be handled.

[2022-08-09 16:55] #147 closed

[2022-08-09 16:56] #127 closed

[2022-08-09 17:07] mattfarina commented on #150
To document, here's some details on what's going on with the examples...

`=1.x-0` can be a little hard to parse. It's equal to `1.x.x-0`. The `.x.x` is a range. So, this expands to `>= 1.0.0-0 < 2.0.0-0`. That means that `1.0.0-beta` is within that range. The `=` at the front is misleading because it equals a range.

`>1.x-0` expands to `> 1.0.0-0`. It's a range. `1.0.0-beta` fits within that ran

[2022-08-10 13:26] benjaminbear opened #185 "NewConstraint method faulty behavior"
Used version: 3.1.1
When I try to create a constraint with NewConstraint method I get following returns:

**good Example**
c, cErr := semver.NewConstraint("12.3.4.1234")
c.String() = nil
cErr = "improper constraint: 12.3.4.1234"

**faulty behavior**
c, cErr := semver.NewConstraint("12.**23**.4.1234")
c.String() = "12.23.4 1234"
cErr = nil

or

c, cErr := semver.NewConstraint("12.3.**34**.1234")
c.

[2022-08-10 13:44] benjaminbear commented on #185
FYI: the used regex to validate the contstraint fails: https://regex101.com/r/3fEGeK/1

[2022-08-10 14:52] mattfarina commented on #185
I can explain what's going on here. `12.3.4.1234` is invalid because it has 4 parts and semver is only 3 parts.

`12.3.34 1234` is read as 2 separate constraints. `12.3.34` and `1234`. Those are added together. See https://github.com/Masterminds/semver#basic-comparisons

[2022-08-10 19:41] benjaminbear commented on #185
Ah I'm sorry,  had to correct the 2 faulty examples.
Is this:
c, cErr := semver.NewConstraint("12.23.4.1234")
c.String() = "12.23.4 1234"
cErr = nil

expected behavior? Its a non semver string with 4 parts like in the first example, but handled differently. The third dot is removed and its a valid range?

[2022-08-15 13:25] mattfarina commented on #185
I have verified the issue. https://go.dev/play/p/wMEsKXb5KEx

[2022-08-15 15:13] mattfarina commented on #185
@benjaminbear The fix can be found in #186 and the commit message explains what happened to cause this.

I am planning on getting a new release out by the end of this week with some fixes and new functionality.

Feel free to double check my fix and tell me if it didn't work.

[2022-08-15 15:22] mattfarina commented on #175
It's been a little bit since you posted this so may already have a setup that works for this.

When it comes to _versions_, a missing section is a 0. When an `x`  is used it's a range and that means a constraint. Versions are covered by the semver spec while constraints used for things like ranges are made up by implementers. Some of use try to follow the same patterns.

The way to do all of that

[2022-08-15 15:24] #185 closed

[2022-08-18 07:17] benjaminbear commented on #185
Great to hear! Thank you very much @mattfarina

[2022-09-26 19:11] ajhenry opened #187 "Valid constraint fails to parse"
When using the following valid semver range: `2 >=2.7.0`, it fails to parse this as a constraint

[code]

Outputs the following:

[code]

But this range is valid and equates to ` >=2.0.0 <3.0.0-0 >=2.7.0` via [semver check](https://jubianchi.github.io/semver-check/#/constraint/2%20%3E%3D2.7.0)

[2022-09-29 06:55] paulcacheux opened #188 "v1 - issue with major only constraint"
Hello !

Surprisingly the following code outputs `true`: https://go.dev/play/p/wZGWuivr35Q
[code]

while https://go.dev/play/p/e-e-I7JDkKY outputs `false`
[code]

is this behavior intended ? Thanks !

[2022-11-09 12:41] boindil opened #189 "Release of new versions"
Seeing that there is still active development, shouldn't this release a new version at some point? Currently the newest version is from 2020.

[2022-11-28 20:53] mattfarina commented on #187
The issue here is that you're using semver version 1. You needed a comma to separate them for that version. TO use v3, the current supported version try updating your imports to...

[code]

[2022-11-28 20:56] mattfarina commented on #188
This behavior is intended. `< 7` and `< 7.0.0` are two different values. `< 7` is `< 7.x.x` which means anything that's a 7 major version.

Also note, your example uses semver v1. The current supported version is v3.

[2022-11-28 21:02] #189 closed

[2022-11-28 21:12] paulcacheux commented on #188
I strongly disagree that this is this simple:
- https://jubianchi.github.io/semver-check/#/%3C%207/7.0.0 for example the first result on google for "semver online" suggests a different result
- the v3 of this exact library outputs a different result https://go.dev/play/p/T4vVEYgj9vA

How could "< 7" ever mean "anything that's a 7 major version, it's in complete contradiction of the usual sense of

[2022-11-28 21:47] mattfarina commented on #188
It was the intended behavior in v1 of the semver package. v3 of the package came out more than 3 years ago. Changing this behavior required making a major version change and this was one of the things we changed. You should no longer use the v1 package.

I understand you disagree with a design decision that was made more than 6 years ago and that was changed in v3 more than 3 years ago.

[2022-11-29 16:07] mattfarina commented on #188
Closing as the v1 release is no longer supported.

[2022-11-29 16:07] #188 closed